In [1]:
import pandas as pd

In [2]:
gh=pd.read_csv('Frequency Table.csv')

In [4]:
gh.head()

   Student  Overall Marks Gender    Subject
0    Anish             97   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [ ]:
frequency_data=gh['Overall Marks'].val