In [6]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp

In [4]:
data=pd.read_csv("onesample.csv")

In [7]:
data.head()

   Insect Length  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4
0           6.55         NaN         NaN         NaN         NaN
1           6.67         NaN         NaN         NaN         NaN
2           6.56         NaN         NaN         NaN         NaN
3           6.63         NaN         NaN         NaN         NaN
4           6.39         NaN         NaN         NaN         NaN

In [8]:
t_statistic,_=ttest_1samp(data,6.09)

In [10]:
print(t_statistic)

[5.46611282        nan        nan        nan        nan]

In [13]:
data2=pd.read_csv("Data for 2 sample test.csv")

In [14]:
data2.head()

   Hauz Khas  Defence Colony
0        180             220
1        100             200
2        120             240
3        220             180
4        160             160

In [16]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import chisquare

In [19]:
chi=pd.read_csv("Chi_square.csv")

In [20]:
chi.head()

          Event  Observed  Expected
0    Successful        41        33
1  Unsuccessful        59        67

In [24]:
t_statistic,p_value = chisquare(f_obs=chi['Observed'],f_exp=chi['Expected'])

In [25]:
print(p_value)

0.08887585044058065